<div class="disp-body"></div>
<div class="body">

<app-navbar ng-model="navbar" style="position: fixed; width: 100%"> </app-navbar>
<app-mainview ng-model="mainview"> </app-mainview>

<!-- <section style="width: 82%; margin-left: 18%; background-color: cornflowerblue; position:fixed; margin-top: 55px">
    <h3 style="margin-left: 40%; margin-top: 12px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: wheat">Grade Alert</h3>
    <br>
</section>
<br><br><br><br><br> -->

<br><br>
<table style="width: 83%; margin-left: 17%;">

    <br><br><br>
    <div style="width: 80%; height: 250px; margin-left: 10%; margin-top:40px; background-color: #0556731e; border-left: 6px solid #055673e3; padding: 20px">
            <h3>Restricted Page</h3><br>
            <h2>This is a restricted page. Permission Required.</h2>
            <br>
            <h2>Contact the administrator for more details.</h2>

<button routerLink="/GradeList" [disabled]="admincheck" class="btn-submit1" style="margin-top: 20px; margin-left: 700px; width: 140px">Grade Now</button>
</div>
</table>
</div>


