<div class="disp-body"></div>
<div class="body" style="overflow-y: hidden">
<app-navbar ng-model="navbar" style="position: fixed; width: 100%"> </app-navbar>
<app-mainview ng-model="mainview"> </app-mainview>

<!-- <section style="width: 82%; margin-left: 18%; background-color: cornflowerblue; position:fixed; margin-top: 55px">
    <h3 style="margin-left: 40%; margin-top: 12px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: wheat">Acknowledge BA Leave</h3>
    <br>
</section>
<br><br><br><br><br> -->

<br><br>
    <div class="section-title">
    <h2 class="top-header1">Leave Approval</h2>
    
    
</div>
    <br><br><br>

<table style="width: 83%; margin-left: 17%; margin-top: 10px; table-layout: fixed">

        <thead style="display: table">
                <tr class="table100-head" style="position: fixed; overflow-y: scroll; height: 58px; table-layout: fixed">
            <th scope="col" class="column1">Employee ID</th>
            <th scope="col" class="column2">Name</th>
            <th scope="col" class="column3">Employee Type</th>
            <th scope="col" class="column4">Date</th>
            <th scope="col" class="column5">Reason</th>
            <th scope="col" class="column6">Acknowledge</th>
        </tr>
        <br><br>
    </thead>
    <tbody style="overflow-y: scroll; display: block; height: 480px; margin-top: 8px; table-layout: fixed">
        <tr *ngFor="let empcal of leavelist">
            <td scope="col" class="column1">{{empcal.employeeid}}</td>
            <td scope="col" class="column2">{{empcal.name}}</td>
            <td scope="col" class="column3">{{empcal.type}}</td>
            <td scope="col" class="column4">{{empcal.date}}</td>
            <td scope="col" class="column5">{{empcal.reason}}</td>
            <td scope="col" class="column6"><button class="btn-reply" value="{{empcal.leaveid}}" (click)="acknowledge(empcal.leaveid)" [disabled]="admincheck">Acknowledge</button></td>
            </tr>
    </tbody>
</table>
</div>
