<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="disp-body"></div>
<div class="body" style="overflow-y: hidden">
<app-navbar ng-model="navbar" style="position: fixed; width: 100%;"> </app-navbar>
<app-mainview ng-model="mainview"> </app-mainview>


<br><br>
<div class="section-title">
    <h2 class="top-header1">Notification</h2> 
    <!-- <h2 class="top-header1"><span><form action="">
        <input type="search" name="search" placeholder="Search..">
        <i class="fa fa-search"></i> 
      </form> </span></h2> -->
</div>
 <br><br><br><br>
<div></div>
<table style="width: 83%; margin-left: 17%;">

    <thead style="display: table">
        <!-- <tr style="position: fixed; background-color: white; margin-top: 10px; width: 82%"> -->
            <tr class="table100-head" style="position: fixed;">
            <th scope="col" class="column1">Date</th>
            <th scope="col" class="column2">Time</th>
            <th scope="col" class="column3">Content</th>
        </tr>
        
    </thead>
    <br><br>
    <tbody style="overflow-y: scroll; display: block; height: 475px; margin-top: 5px">
       
        <tr *ngFor="let notifications of notificationnew">
            <td scope="col" class="column1" >{{notifications.date}}</td>
            <td scope="col" class="column2">{{notifications.time}}</td>
            <td scope="col" class="column3" ><a (click)="check(notifications)" routerLink="">{{notifications.content}}</a></td>
        </tr>
        <tr *ngFor="let notifications of notificationother">
            <td scope="col" class="column1">{{notifications.date}}</td>
            <td scope="col" class="column2" >{{notifications.time}}</td>
            <td scope="col" class="column3" ><a (click)="check(notifications)"  routerLink="">{{notifications.content}}</a></td>
        </tr>
      
   
        <!-- <tr *ngFor="let notifications of notificationnew">
            <th scope="col" class="column1" style="color: navy">{{notifications.date}}</th>
            <th scope="col" class="column2" style="color: navy">{{notifications.time}}</th>
            <th scope="col" class="column3" ><a (click)="check(notifications)" style="color: navy" routerLink="">{{notifications.content}}</a></th>
        </tr>
        <tr *ngFor="let notifications of notificationother">
            <th scope="col" class="column1" style="color: black">{{notifications.date}}</th>
            <th scope="col" class="column2" style="color: black">{{notifications.time}}</th>
            <th scope="col" class="column3" ><a (click)="check(notifications)" style="color: black" routerLink="">{{notifications.content}}</a></th>
        </tr> -->
    </tbody>
</table>
</div>
