<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<nav id="sidebar">
    <ul class="list-unstyled components">
            <img src={{image}} width="15%" style="border-radius: 80%; height: 270px;">
        <li>
        <p style="color: sandybrown; font-size: large; text-align: center; width: 240px; margin-left: 0"><b>{{name}}</b></p>
        <p style="margin-top: -30px; color: sandybrown; font-size: large; text-align: center; width: 240px; margin-left: 0"><b>{{type}}</b></p>
        </li>
        <li style="margin-top: -20px">
            <a routerLink="../Home">Notifications</a>
        </li>
        <li>
            <a routerLink="../Employee">Search Employee</a>
        </li>
        <li>
            <a routerLink="../Profile">View Profile</a>
        </li>
        <li>
            <a routerLink="../SBALeaderBoard">SBA Leaderboard</a>
        </li>
        <li>
            <a routerLink="../JBALeaderBoard">JBA Leaderboard</a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs " style="margin-top: -25px">
        <li><a routerLink="../Logout" class="download ">Logout</a></li>
    </ul>
</nav> -->


<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css " rel="stylesheet " id="bootstrap-css ">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js "></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
<div class="page-wrapper chiller-theme toggled ">
    <nav id="sidebar " class="sidebar-wrapper ">
        <div class="sidebar-content ">
            <div id="toggle-sidebar ">
            </div>
            <div class="sidebar-header ">
                <div class="user-pic ">
                    <span><img class="img-responsive img-rounded " src="assests/images/mary.png " alt="User picture "></span>
                </div>
                <br>
                <span></span>
                <br><br><br><br>
                <div class="user-info ">
                    <span class="user-name "> Nethmi
                            <strong>A</strong>
                        </span>
                    <span class="user-role ">Project Manager</span>
                    <span class="user-status ">
                            <span></span>
                    </span>
                </div>
            </div>
            <div class="sidebar-menu ">
                <ul>
                    <li class="header-menu ">
                        <span></span><span></span>
                    </li>
                    <li class="sidebar-dropdown ">
                        <a href="# ">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown ">
                        <a href="form ">
                            <span>New Project</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown ">
                        <a href="display ">
                            <span>Project List</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown ">
                        <a href="# ">
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown ">
                        <a href="# ">
                            <span>Leaderboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown ">
                        <a href="# ">
                            <span>Schedule</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-footer ">
            <a href="# ">
                <span class="badge badge-pill badge-warning notification ">Messages</span>
            </a>
            <a href="# ">
                <span class="badge badge-pill badge-success notification "></span>
            </a>
        </div>
    </nav>
</div>
-->

<header class="header" role="banner">
    <h1 class="logo">
        <a href="#"><span>Virtusa Innovations</span></a>
    </h1>
    <div class="avatar">
        <img src={{image}} />
        <!-- <img src="/images/Resh.jpg" /> -->

        <h2>{{name}}</h2>
        <h2>{{type}}</h2>
    </div>

    <div class="nav-wrap">
        <nav class="main-nav" role="navigation">
            <ul class="unstyled list-hover-slide">
                <li>
                    <a routerLink="../Home">Notifications</a>
                </li>
                <li>
                    <a routerLink="../Employee">Search Employee</a>
                </li>
                <li>
                    <a routerLink="../Profile">View Profile</a>
                </li>
                <li>
                    <a routerLink="../SBALeaderBoard">SBA Leaderboard</a>
                </li>
                <li>
                    <a routerLink="../JBALeaderBoard">JBA Leaderboard</a>
                </li>
                <li>
                    <a routerLink="../Logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>